.container{
   
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.3fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main "
    "sidebar content1 content2 content3"
    "sidebar content1 content2 content3";
    grid-gap:20px;
    font-size:20px ;
    text-align:center; 
  
} 
.nav{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area: nav;
    border-radius: 8px;   
    text-align-last: center; 
}
.main{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area: main;
    border-radius: 8px;   
}
.sidebar{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area: sidebar;
    border-radius: 8px;   
}
.content1{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area:content1 ;
    border-radius: 8px;   
}
.content2{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area:content2;
    border-radius: 8px;   
}
.content3{
    background-color:rgba(11, 11, 11, 0.577);
    grid-area:content3;
    border-radius: 8px;   
}